body {
    font: normal 1em 'Avenir Next', 'Segoe UI', 'Droid Sans', 'Helvetica';
    margin: 0;
    background-color: #f5f5f5;
    margin-top: 7%;
}

li{
    list-style: none;
}

.navbar-default{
    background-color: #f5f5f5;
    border-color: #d2d2d2;
    box-shadow: 0 2px 15px 2px #c6c6c6;
}

ul{
    font-size: 1.75em;
}

h1 span{
    border-bottom: 1px solid black;
}

h3 span{
    border-bottom: 1px solid black;
}

p{
    font-size: 1.5em;
}